{% extends 'apps/base.html' %}
{% load static %}
{% block content %}
<div class="card-header">
    <div class="row flex-between-end">
        <div class="col-auto align-self-center">
            <h5 class="mb-0" data-anchor="data-anchor">New Address</h5>
        </div>
        <div class="col-auto ms-auto">
            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#preview-tab" type="button" role="tab" aria-controls="preview-tab" aria-selected="true" id="tab-preview">Preview</button>
                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#code-tab" type="button" role="tab" aria-controls="code-tab" aria-selected="false" id="tab-code">Code</button>
            </div>
        </div>
    </div>
</div>
<div class="card-body bg-light">
    <div class="tab-content">
        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-preview" id="preview-tab">
            <form method="post" action="{% url 'new_address' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="full_name">To'liq Ism</label>
                    <input class="form-control" id="full_name" type="text" name="full_name" maxlength="255" required />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="street">Ko'cha</label>
                    <input class="form-control" id="street" type="text" name="street" maxlength="255" required />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="zip_code">Pochta Indeksi</label>
                    <input class="form-control" id="zip_code" type="number" name="zip_code" required />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="city">Shahar</label>
                    <input class="form-control" id="city" type="text" name="city" maxlength="255" required />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">Telefon</label>
                    <input class="form-control" id="phone" type="tel" name="phone" maxlength="255" required />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="user">Foydalanuvchi</label>
                    <input class="form-control" id="user" type="text" name="user" required />
                </div>
                <button class="btn btn-primary" type="submit">Jo'natish</button>
            </form>
        </div>
        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-code" id="code-tab">
            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;form method="post" action="{% url 'new_address' %}"&gt;
  &lt;div class="mb-3"&gt;
    &lt;label class="form-label" for="full_name"&gt;To'liq Ism&lt;/label&gt;
    &lt;input class="form-control" id="full_name" type="text" name="full_name" maxlength="255" required /&gt;
  &lt;/div&gt;
  &lt;div class="mb-3"&gt;
    &lt;label class="form-label" for="street"&gt;Ko'cha&lt;/label&gt;
    &lt;input class="form-control" id="street" type="text" name="street" maxlength="255" required /&gt;
  &lt;/div&gt;
  &lt;div class="mb-3"&gt;
    &lt;label class="form-label" for="zip_code"&gt;Pochta Indeksi&lt;/label&gt;
    &lt;input class="form-control" id="zip_code" type="number" name="zip_code" required /&gt;
  &lt;/div&gt;
  &lt;div class="mb-3"&gt;
    &lt;label class="form-label" for="city"&gt;Shahar&lt;/label&gt;
    &lt;input class="form-control" id="city" type="text" name="city" maxlength="255" required /&gt;
  &lt;/div&gt;
  &lt;div class="mb-3"&gt;
    &lt;label class="form-label" for="phone"&gt;Telefon&lt;/label&gt;
    &lt;input class="form-control" id="phone" type="tel" name="phone" maxlength="255" required /&gt;
  &lt;/div&gt;
  &lt;div class="mb-3"&gt;
    &lt;label class="form-label" for="user"&gt;Foydalanuvchi&lt;/label&gt;
    &lt;input class="form-control" id="user" type="text" name="user" required /&gt;
  &lt;/div&gt;
  &lt;button class="btn btn-primary" type="submit"&gt;Jo'natish&lt;/button&gt;
&lt;/form&gt;
            </code></pre>
        </div>
    </div>
</div>
{% endblock %}
